#pageContent{
  margin-left: 20px;
  margin-right: 20px;
}
fieldset.sectionOutline{
  border-width: 1px;
  border-color: #0079AE;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}
fieldset.sectionOutline legend.sectionLabel{
  margin-left: 10px;
}

.NavBar,.AboveNavBar{
  padding-left: 15vw;
}
.NavBar{
  width: 100%;
  background-color: #00afdc;
  vertical-align: middle;
  padding-top: .3em;
  padding-bottom: .3em;
}

.NavBar a{
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.HeaderSection{
  min-height: 185px;
  min-height: 15vw;
}
img.wssclogo {
  max-width: 182px;
  max-width: 15vw;
  position: absolute;
}